#site-title {
	color: #8fbcbb;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	margin: 0.25em 0.25em;
}

#site-title span {
	color: white;
}

body {
	background-color: #2e3440;
}

.board {
	margin: 1em 35em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 0px;
}

.white-square {
	display: flex;
	aspect-ratio: 1;
	background-color: #b5b5b5;
}

.black-square {
	display: flex;
	aspect-ratio: 1;
	background-color: #71828f;
}
